
<head>
	<title>Sinatra Heroku Template</title>
	<link rel="stylesheet" href="/css/application.css" type="text/css" media="screen">
</head>

<body>
	<header>
	  <div style="width:100%;text-align:center;margin:auto">
	    <a href="/" style="button">Home</a>
	  </div>  
    </header>
	<%= yield %>
</body>

